{% extends 'base.html' %}


{% block title %}
    Login 
{% endblock title %}

{% block content %}
<br>
<div class="d-flex justify-content-center">
    <div class="card bg-light border-primary mb-3" style="width: 35rem;">
        <div class="card-header">
            <h3 class="text-center">Sign-In</h3>
        </div>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary form-control">Login</button>

            </form>
        </div>
        <div class="card-footer">
            <span>Don't have an account ? <a href="{% url 'register' %}">Reigster now !</a></span>

        </div>
    </div>
</div>
{% endblock content %}
    