{% extends 'base.html' %}


{% block title %}
    Django CRM
{% endblock title %}
    


{% block content %}
    <div class="container">
        <br>
        <div class="d-flex justify-content-between">
          <div >
              <h4>Search Records</h4>
          </div>
          <div >
              <a href="{% url 'new-record' %}" class="btn btn-outline-success ">New Record</a>
          </div>
      </div>
    <hr style="border: solid 1px #000; ">
    {% comment %} search {% endcomment %}
    {% include 'components/search_field.html' %}

    
    {% comment %} <div class="table-responsive card"> {% endcomment %}
        {% if results %}
            <table class="table" style="margin-top: 2%;">
            <thead class="table-dark" style="raduis=30rem;">
              <tr>
                {% comment %} <th scope="col">#</th> {% endcomment %}
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Category</th>
                <th scope="col">Weight</th>
                <th scope="col">Tall</th>
                <th scope="col">Mobile</th>
                <th scope="col">Address</th>
                <th scope="col">Strated at</th>
                <th scope="col">#</th>
              </tr>
            </thead>
            <tbody>
              {% for record in results %}
              <tr>
                {% comment %} <th scope="row">{{record.id}}</th> {% endcomment %}
                <td>{{record.first_name}}</td>
                <td>{{record.last_name}}</td>
                <td>{{record.get_age}}</td>
                <td>{{record.category}}</td>
                <td>{{record.weight}}</td>
                <td>{{record.tall}}</td>
                <td>{{record.mobile}}</td>
                <td>{{record.address}}</td>
                <td>{{record.created_at | date:"d/m/Y" }} </td>
                <td>
                    <a href="{% url 'view-record' record.id %}" class="btn btn-outline-dark btn-sm w-100">View</a>
                </td>
                </tr>
              
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <br>
          <div class="alert alert-warning"role="alert">
            No results was found "{{query}}"
          </div>
          {% endif %}
          
          
            
            
    {% comment %} </div> {% endcomment %}
    </div>
{% endblock content %}
    